.layout__container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.header {
  position: absolute;
  display: flex;
  width: calc(100% - 60px);
  height: 55px;
  background-color: $c-primary;
  color: $c-white;
  align-items: center;
  justify-content: space-between;
  left: 60px;
  top: 0;
  z-index: 9998;
  &-logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50px;
    }
  }
  &-notification {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 14.5px 20px;
    &:hover {
      cursor: pointer;
    }
  }
  &-user {
    height: 55px;
    margin: 0 15px 0 0;
    a {
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        margin: 7.5px 0;
        border-radius: 40px;
        object-fit: cover;
      }
    }
  }
}

.menu {
  position: fixed;
  display: flex;
  width: 60px;
  height: 100vh;
  background-color: $c-primary;
  color: $c-black;
  justify-content: space-between;
  flex-direction: column;
  z-index: 9999;
  &__burger {
    display: flex;
    margin: 12.5px;
    align-items: center;
    justify-content: space-between;
    & svg {
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
    & h1 {
      font-family: $f-normal;
      font-size: $fs-normal;
      color: $c-white;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__navigation {
    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  &-item {
    height: 50px;
    margin: 5px auto;
    a {
      display: flex;
      height: 50px;
      color: $c-white;
      text-decoration: none;
      align-items: center;
      justify-content: center;
    }
    svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .icon {
    margin: 13px 0;
  }
}

.logout {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 10px auto 9.5px;
  div {
    padding: 13px;
    svg {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.expanded {
  width: 180px;
  box-shadow: 0 0 10px 0 $c-black;
  .menu-item a {
    margin: 5px 17.5px;
    justify-content: space-between;
  }
  h1 {
    margin: 0;
    font-size: $fs-normal;
  }
  .logout {
    width: calc(100% - 35px);
    margin: 10px 17.5px 9.5px;
    div {
      display: flex;
      width: 100%;
      padding: 13px 0;
      color: $c-white;
      text-decoration: none;
      align-items: center;
      justify-content: space-between;
    }
  }
}