.feed {
  width: calc(100% - 350px);
  margin: 20px 140px 20px 210px;
}

.postInput {
  width: calc(100% - 30px);
  margin: 30px 0;
  &-content {
    max-width: 100%;
    max-height: 255px;
    margin: 10px 0;
    border: none;
    background-color: darken($color: white, $amount: 2);
    outline: 0;
    font-family: $f-normal;
    font-size: $fs-normal;
    resize: none;
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
      background-color: $c-gray4;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      border-radius: 5px;
      background-color: $c-gray3;
    }
  }
  &-submit {
    width: 170px;
    height: 30px;
    margin: 0;
    margin-left: calc(100% - 170px);
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: $c-gray4;
    color: $c-black;
    font-family: $f-normal;
    outline: 0;
    &:hover {
      cursor: pointer;
    }
  }
}