.projects {
  &-container {
    width: calc(100% - 260px);
    margin: 55px 95px 50px 165px;
    h1 {
      margin: 20px 20px 10px 20px;
      font-family: $f-large;
      font-size: $fs-large + 2px;
    }
  }
  &-populars {
    display: flex;
    width: calc(100% - 40px);
    margin: 0 15px;
    margin-bottom: 40px;
    padding: 20px 5px;
    overflow: hidden;
    &:hover {
      overflow-x: scroll;
      overflow-y: hidden;
    }
    &::-webkit-scrollbar {
      height: 5px;
      border-radius: 5px;
      background-color: $c-gray4;
    }
    &::-webkit-scrollbar-thumb {
      height: 5px;
      border-radius: 5px;
      background-color: $c-gray;
    }
  }
  &-more {
    display: grid;
    width: calc(100% - 40px);
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
    row-gap: 30px;
  }
}

.project {
  min-width: 400px;
  width: calc(100% - 30px);
  max-height: 165px;
  &-large {
    width: calc(100% - 530px);
    margin: 40px 250px;
  }
  &-small {
    width: calc(100% - 30px);
    margin: 20px 0px;
  }
  &-sinopsis {
    display: -webkit-box;
    margin: 10px 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-shared {
    width: calc(100% - 34px);
    border: 2px solid $c-secondTwo;
    box-shadow: none;
  }
}